.top-header{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.code-container {
  position: relative;
  margin: 20px;
}
.copy-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.code {
  background-color: #f1f1f1;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
}

.copy-btn{
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 3px;
}